<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <style>
      p { padding-left: 20px; padding-right: 20px; font-size: .8rem;
      line-height: 20px; }
    </style>
  </head>
  <body
    style="padding: 10px 0; text-align: center; background-color: rgb(153, 153, 153); font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
  >
    <div
      style='padding: 30px 0px; background-color: rgb(4, 8, 20); max-width: 70%; margin-left: auto; margin-right: auto; border-radius: 5px; color: rgb(170, 171, 182);'
    >
      <div>
        <p>Hi {{name}},</p>
      </div>
      <div>
        <p>You recently requested a one time pin. In order to complete your
          login, please use the following as your pin.</p>
      </div>
      <div style='margin: 10px;'>
        <p>Your one-time use pin:</p>
      </div>
      <div style='color: #958144; margin: 30px;'>
        <span
          style='letter-spacing: 6px; font-size: 1.6rem; font-weight: 400;'
        >{{OTP}}</span>
      </div>
      <div>
        <p>Please note that this will not be usable if your account has
          Two-Factor Authentication enabled. This one-time-pin will expire in
          approximately 10 minutes. If you did not request a one-time-pin,
          contact your tech support or you can ignore this message as it will
          expire soon.</p>
      </div>
      <div>
        <p style='margin-bottom: 0'>Kind Regards,</p>
        <p style='margin-top: 1px;'>Your friends at Apex</p>
      </div>
    </div>
  </body>
</html>