<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <style>
      p { font-size: 0.8rem; line-height: 20px; }
    </style>
  </head>
  <body
    style='
      padding: 20px 10px;
      background-color: white;
      font-family: Cambria, Cochin, Georgia, Times, serif, sans-serif;
    '
  >
    <div
      style='
        padding: 10px 20px;
        background-color: rgb(231, 236, 238);
        border-radius: 10px;
        color: rgba(20, 19, 19, 0.808);
      '
    >
      <div>
        <p>Hi {{it.name}},</p>
        <p>
          Welcome to Apex, please use the single use pin below to verify your account:
        </p>
      </div>
      <div
        style='
          width: auto;
          height: auto;
          padding: 10px;
          text-align: center;
          border: 1px solid black;
          border-radius: 1rem;
          background-color: rgba(20, 19, 19, 0.808);
        '
      >
        <span
          style='
            color: rgb(255, 255, 255);
            letter-spacing: 6px;
            font-size: 1.6rem;
            font-weight: 400;
          '
        >{{it.otp}}</span>
      </div>
      <p style='text-align: center; margin: 0;'>expires in:
        <span style='color: rgb(190, 190, 20)'>{{it.expiresIn}}
          minutes</span></p>
      <div></div>
      <div>
        <p style='margin-bottom: 0'>Kind Regards,</p>
        <p style='margin-top: 1px'>Apex</p>
      </div>
    </div>
  </body>
  <footer style='text-align: center; font-size: 0.75rem'>
    <a href='' style='margin: 20px 0 20px 0; color: #83a2d0; text-decoration: none'>help.apex.co</a>
    <p style='margin-bottom: 5px'>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, nobis.
    </p>
    <p>
      <a href='' style='color: #83a2d0'>Terms of Service</a>
      |
      <a href='' style='color: #83a2d0'>Privacy Policy</a>
    </p>
  </footer>
</html>